<div class="app"> 

  <app-static-square
    *appStructuralDirective="1000">
    <h1>No intersect</h1>
  </app-static-square>
<!--
  <app-static-square >
    <h1>No intersect</h1>
  </app-static-square>
  <app-static-square appOnViewAnimation>
    <h1>interse</h1>
  </app-static-square>
  <app-static-square>
    <h1>No intersect</h1>
  </app-static-square>
  <div class="flex">
    <app-static-square appOnViewAnimation [delay]="0">
      <h1>No intersect</h1>
    </app-static-square>
    <app-static-square appOnViewAnimation [delay]="300">
      <h1>No intersect</h1>
    </app-static-square>
    <app-static-square appOnViewAnimation [delay]="600"> 
      <h1>No intersect</h1>
    </app-static-square>
    <app-static-square appOnViewAnimation [delay]="0"> 
      <h1>No intersect</h1>
    </app-static-square>
    <app-static-square appOnViewAnimation [delay]="300"> 
      <h1>No intersect</h1>
    </app-static-square>
  </div>
  -->
</div>
